doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    h1 welcome to #{title}
    p(id="displayStatus")
    p(id="question")
    form(action="/retrieveQuestion" method="post" id="Form")
      input(type="hidden" name="previousResult" id="previousResult" value=resultStatus)
      input(type="hidden" name="question" id="question" value="hi")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer")


  script(type="text/javascript").
    const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
      resp = JSON.parse(this.responseText);
      console.log(resp);
      const form = document.getElementById("Form");
      document.getElementById("question").innerHTML = "<b>" + resp.q + "</b>";
      form[1].value = resp.q;
      for (let a of resp.a) {
        let answer = document.createElement("input");
        answer.type = "radio";
        answer.id = "answer";
        answer.name = "answer";
        answer.value = a;
        let label = document.createElement("label");
        label.for = a;
        label.innerHTML = a;
        form.appendChild(answer);
        form.appendChild(label);
        form.appendChild(document.createElement("br"));
      }
      let submit_button = document.createElement("input", {type: "submit"});
      submit_button.type = "submit";
      form.appendChild(submit_button);
      console.log(form);
    }
    xhttp.open("GET", "retrieveQuestion");
    xhttp.send();

  script(type="text/javascript").
    function showResult(value, elem) {
      console.log(value);
      if (!value) return;
      switch (value) {
        case "failed":
          elem.innerHTML = `<h1 style="color:Tomato"> you are a Massive Failure ! youre parents Not care !</h1>`;
          break;
        case "success":
          elem.innerHTML = `<h1 style="color:Green"> you Win !</h1>`;
          break;
        default:
          elem.innerHTML = "THE WEBSITE BROKE, AND YOU ARE BEHIND IT"
      }
    }
    showResult(document.getElementById("previousResult").value, document.getElementById("displayStatus"));

    
  script.
    $("#Form").submit(function(event) {
      event.preventDefault();
      $.post("/retrieveQuestion", { question: $("#question").text(), answer: $("#answer").val() }).then(data => {
        showResult(!data ? 'success' : 'failed', document.getElementById("displayStatus"))
      })
    })
