doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    h1 welcome to #{title}
    p Welcome to #{title}
    p(id="question")
    form(action="/" method="post" id="Form")
      input(type="hidden" name="null")

  script(type="text/javascript").
    const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
      resp = JSON.parse(this.responseText);
      console.log(resp)
      document.getElementById("question").innerHTML = resp.q;
      const form = document.getElementById("Form");
      for (let a of resp.a) {
        let answer = document.createElement("input");
        answer.type = "radio";
        answer.id = a;
        answer.name = "answer";
        let label = document.createElement("label");
        label.for = a;
        label.innerHTML = a;
        form.appendChild(answer);
        form.appendChild(label);
        form.appendChild(document.createElement("br"));
      }
      let submit_button = document.createElement("input", {type: "submit"});
      submit_button.type = "submit";
      form.appendChild(submit_button)
    }
    xhttp.open("GET", "retrieveQuestion");
    xhttp.send();
